@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-image: url('../images/bg-principal.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
}

button:hover {
    cursor: pointer;
}

/* CABEÇALHOS */
header {
    display: flex;
    height: 10vh;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #13101E;
}

#header-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo > a {
    text-decoration: none;
    font-size: calc(14px + 1.4vw);
    color: #f9f9f9;
}

#nav-login, #nav-signup, #nav-shop, #nav-trade, #nav-pendingtrade, #nav-addpackage, #nav-addcharacter, #nav-addbrand, #nav-collection {
    text-decoration: none;
    font-size: calc( 5px + 0.9vw );
    color: #f9f9f9;
    padding: 10px 15px;
}

#nav-login:hover, #nav-signup:hover, #nav-shop:hover, #nav-collection:hover, #nav-trade:hover, #nav-pendingtrade:hover,
#nav-addpackage:hover, #nav-addcharacter:hover, #nav-addbrand:hover{
    background-color: #f9f9f9;
    color: #13101E;
}

#container-trade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2vh;
    background-color: #f9f9f926;
    width: 60vw;
    padding: 4vh 0vw;
}

#container-trade > h2{
    padding: 20px 20px 0 20px;
}

ul {
    display: flex;
    gap: 4vw;
}

li {
    list-style-type: none;
}

/* PROFILE NAV */

#profile-container, #profile-admin-container {
    padding: 0vh 10vw;
    min-height: 80px;
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    align-self: flex-end;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
}

.coins-img{
    width: 18px;
}

#profile-img, #profile-admin-img {
    width: 80px;
    margin-left: 10px;
}

#profile-user-name, #profile-admin-user-name, #profile-user-coins{
    font-size: calc( 8px + 0.8vw );
    text-align: end;
}

.profile-buttons{
    display: flex;
    gap: 6px;
    justify-content: flex-end;
}

.profile-coins {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-btn, .logout-btn {
    height: 25px;
    width: 60px;
    background-color: #ff4098;
    border-radius: 10px;
    font-size: calc( 5px + 0.6vw );
    color: #f9f9f9;
    border: none;
}

#nav-editprofile {
    text-decoration: none;
    color: #f9f9f9;
}

#add-coin-btn {
    height: 18px;
    width: 18px;
    background-color: #ff4098;
    border-radius: 9px;
    font-size: 0.8rem;
    border: none;
}

/* MAIN LANDING PAGE */
main {
    /* padding-top: 6vh; */
    display: none;
    justify-content: center;
    align-items: center;
}

#section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding-top: 10vh;
}

#texts-home {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 50vw;
}

#main-text-home > p {
    text-align: left;
    font-size: calc(18px + 2.2vw);
    line-height: calc(28px + 4vh);
}

.secondary-text-home > p {
    text-align: left;
    font-size: calc(8px + 1.1vw);
}

#texts-home > p {
    text-align: left;
    font-size: calc(9px + 1.2vw);
}

#img-cards {
    width: 35vw;
}

/* MAIN SIGNUP PAGE & LOGIN PAGE */

#container-register, #container-login {
    padding: 4vh 0vw;
    width: 40vw;
    background-color: #f9f9f926;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.2vh;
}

#form-register, #form-login {
    display: flex;
    flex-direction: column;
    gap: 2.6vh;
    font-size: calc( 6px + 0.8vw );
    width: 25vw;
}

#form-login > label, #form-register > label{
    font-size: calc(18px + 0.2vh);
}

input{
    height: 4.8vh;
    background: none;
    border: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #f9f9f9;
    color: #f9f9f9;
    font-size: calc( 6px + 0.7vw );
}

input:focus{
    outline: 0;
}

input::placeholder{
    color: #f9f9f9;
}

#search-container{
    display: flex;
    gap: 0.8vw;
}

.locate-btn{
    height: 26px;
    width: 26px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
}

.locate-modal-btn{
    height: 26px;
    width: 26px;
    background-color: #13101E;
    border: none;
    border-radius: 10px;
}

#locate-trade-collection-input, #locate-pending-offer-input{
    border-bottom-color: #13101E;
    color: #13101E;
}

#locate-trade-collection-input::placeholder, #locate-pending-offer-input::placeholder {
    color: #13101E;
}

h2{
    font-size: calc( 9px + 1.2vw );
}

p{
    font-size: calc( 8px + 0.8vw );
    text-align: center;
}

a{
    text-decoration: none;
    color: #f9f9f9;
}

#signup-btn, #login-btn, #back-btn {
    min-height: 35px;
    min-width: 90px;
    width: 15vw;
    color: #f9f9f9;
    background-color: #ff4098;
    border: none;
    border-radius: 10px;
    font-size: calc( 6px + 0.8vw );
}

/* MAIN PROFILE PAGE */

.input-file-label {
    padding: 0vh 0.5vw;
    align-self: center;
    height: 5vh;
    min-height: 30px;
    background-color: #ff4098;
    border-radius: 10px;
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

#admin-profile-edit-img, #profile-edit-img, #addpackage-image, #addcharacter-image {
    display: none;
}

#container-profile, #container-addbrand, #container-addpackage, #container-addcharacter{
    padding: 2vh 0;
    width: 40vw;
    background-color: #f9f9f926; 
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-profile{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: calc( 6px + 0.7vw );
    width: 25vw;
    padding-bottom: 10px;
}

.save-btn, .btn-shop, .btn-trade, .pending-cardbtn, #addpackage-btn, #addcharacter-btn, #addbrand-btn{
    height: 5vh;
    width: 8vw;
    background-color: #ff4098;
    border-radius: 1vh;
    font-family: 'Poppins';
    font-size: calc( 5px + 0.6vw );
    color: #f9f9f9;
    border: none;
}

.edit-svg{
    width: 24px;
}

label{
    display: flex;
    justify-content: space-between;
}

#user-img-preview, #admin-img-preview, #character-img-preview, #package-img-preview{
    align-self: center;
    max-width: calc( 60px + 2vw);
    max-height: calc( 60px + 3vh);
}

/* MAIN COLLECTION PAGE */

#container-shop {
    padding: 4vh 0vw;
    width: 60vw;
    background-color: #f9f9f926;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.2vh;
}

#shop-packages, #trade-cards{
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
}

.img-my-collection, .trade-imgs, .pending-imgs{
    width: 12vw;
    box-shadow: 4px 4px 3px 3px #00000080;
}

.packages{
    width: 12vw;
}

.name-card-collection, .name-card-trade, .name-card-pending{
    padding-top: 1.2vh;
}

.box-shop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    background-color: #f9f9f926;
    font-size: calc( 6px + 0.6vw );
    text-align: center;
    gap: 0.5vh;
    padding-bottom: 1vh;
}

.box-shop p{
    font-size: 20px;
}

.box-shop .package-chances {
    font-size: 13px;
}

/* MODAL */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #00000080
}

.close-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-box{
    width: 50vw;
    height: 80vh;
    display: flex;
    background-color: #f9f9f9DD;
    transform: translate(-50%,-50%);
    position: relative;
    top: 50vh;
    left: 50vw;
    animation: animate;
    animation-duration: 800ms;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes animate{
    from{opacity:1}
    from{opacity:0}
}

#icon-close-shop-modal, #icon-close-pending-modal, #icon-close-error-log, #icon-close-success-log, #icon-close-trade-modal{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    cursor: pointer;
    padding: 10px;
}

.h3-modal{
    font-size: 2rem;
    color: #13101E;
    text-align: center;
    padding: 10px;
}

#error-log-message, #success-log-message{
    color: #13101E;
}

.card-acquired, .card-pending{
    width: 12vw;
}

#new-cards, #pendingtrade-cards, #user-cards-modal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5vh 0 5vh 0;
    overflow-y: auto;
}

#user-cards-modal::-webkit-scrollbar, #pendingtrade-cards::-webkit-scrollbar {
    width: 1.3vw;
    background-color: #bbbbbb80;
}

#user-cards-modal::-webkit-scrollbar-thumb, #pendingtrade-cards::-webkit-scrollbar-thumb {
    background-color: #13101EA0;
}

.description-new-card, .description-pending-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    height: fit-content;
    border: 2px solid #13101E;
    padding: 1.6vh 0;
}

.name-new-card, .rarity-new-card, .name-pending-card, .rarity-pending-card {
    color: #13101E;
    font-size: 1rem;
    text-align: center;
}

.changeablecard-img {
    max-width: 9.5vw;
}

.changeablecard, .trade-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF26;
    padding: 1vh 1vw;
}

.trade-shop{
    height: fit-content;
    border: 2px solid #13101E;
}

.changeablecard > p {
    font-size: calc( 6px + 0.7vw );
}

.description-pending-card > p, .trade-shop > p {
    font-size: calc( 6px + 0.7vw );
    color: #13101E;
}

/* CSS DA PÁGINA MINHA COLEÇÃO */

#collection-page, #trade-page, #pendingtrade-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    padding: 0 0 20px 0;
}

#my-collection, #trade-cards, #changeable-cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 60vw;
}

.container-card-collection, .container-card-trade-page, .container-card-pending-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 14vw;
    height: fit-content;
    padding: 12px 0px;
    background-color: #f9f9f926;
}

.container-card-collection > p {
    font-size: calc( 7px + 0.7vw );
}

.container-taggle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 0.6rem;
}

label{
    font-size: 0.8rem;
}

/* ESCONDER TUDO */

#unauthenticated-header {
    display: none;
}

#authenticated-user-header {
    display: none;
}

#profile-container {
    display: none;
}

#authenticated-admin-header {
    display: none;
}

#landing-page {
    display: none;
}

#login-page {
    display: none;
    padding: 10vh;
}

#signup-page {
    display: none;
    padding: 10vh;
}

#home-page {
    display: none;
    padding: 0 0 2vh 0;
}

#profile-page {
    display: none;
}

#profile-admin-container {
    display: none;
}

#collection-page {
    display: none;
}

#change-page {
    display: none;
}

#my-changes-page {
    display: none;
}

#addpackage-page {
    display: none;
}

#addcharacter-page {
    display: none;
}

#addbrand-page {
    display: none;
}

#not-found-page {
    display: none;
    flex-direction: column;
    gap: 2vh;
}

#trade-page{
    display: none;
}

#pendingtrade-page{
    display: none;
}

@media (max-width: 450px) {
    html {
        font-size: 40%;
    }

    .packages{
        width: 184px;
    }

    .box-shop{
        width: 184px;
    }

    .container-card-collection, .container-card-trade-page, .container-card-pending-page{
        width: auto;
        padding: 15px;
    }

    #section-container {
        display: flex;
        flex-direction: column;
        display: flex;
        width: 90vw;
        padding-top: 5vh;
    }

    #texts-home {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 90vw;
    }

    #main-text-home > p {
        text-align: center;
        font-size: 5rem;
        line-height: 6rem;
    }
    
    .secondary-text-home > p {
        text-align: center;
    }
    
    #texts-home > p {
        text-align: center;
    }

    #img-cards {
        padding-top: 6vh;
        width: 80vw;
    }

    #login-page, #signup-page  {
        display: none;
        padding: 10vh 3vh;
    }

    #container-register, #container-login, #container-profile {
        padding: 4vh 0vw;
        width: 80vw;
        background-color: #f9f9f926;
        color: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3.2vh;
    }

    #container-register h2, #container-login h2{
        font-size: 3rem;
    }

    #form-register, #form-login, .form-profile {
        display: flex;
        flex-direction: column;
        gap: 2.6vh;
        font-size: calc( 6px + 0.8vw );
        width: 60vw;
    }
    
    #form-login label, #form-register label, .form-profile label {
        font-size: 20px;
    }

    input{
        height: 4.5vh;
        background: none;
        border: none;
        padding: 0 10px;
        border-bottom: 2px solid #f9f9f9;
        color: #f9f9f9;
        font-size: 3rem
    }

    #profile-name-input, #profile-email-input, #profile-password-input {
        width: 60vw;
    }

    #error-log-message, #success-log-message {
        font-size: 15px;
        text-align: center;
    }

    #signup-btn, #login-btn, #back-btn {
        padding: 0 20px;
        width: auto;
        font-size: 3rem;
    }

    .edit-btn, .logout-btn, #add-coin-btn {
        font-size: 2.3rem;
    }

    #container-shop {
        width: 70vw;
    }

    #container-shop h2 {
        font-size: 20px;
    }

    .save-btn, .btn-shop, .btn-trade, .pending-cardbtn {
        padding: 0 20px;
        width: auto;
        font-size: 3rem;
    }

    .modal-box {
        width: 70vw;
    }

    .h3-modal, .name-new-card, .rarity-new-card {
        padding-top: 30px;
        font-size: 20px;
    }

    .card-acquired, .description-new-card {
        width: 184px;
    }

    #pendingtrade-cards {
        width: 100%;
    }

    #pendingtrade-cards .card-pending, #pendingtrade-cards .description-pending-card {
        width: 184px 
    }

    .description-pending-card p {
        font-size: 20px;
    }

    .trade-shop p{
        font-size: 20px;
    }

    #collection-page h2, #trade-page h2, #pendingtrade-page h2{
        font-size: 20px
    }

    .container-card-collection p, .container-card-trade-page p, .container-card-pending-page p {
        font-size: 20px;
    }

    .container-taggle label{
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 36%;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 32%;
    }
}