@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-image: url('../images/bg-principal.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

/* CABEÇALHOS */
header {
    display: flex;
    height: 10vh;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #13101E;
}

#header-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo > a {
    text-decoration: none;
    font-size: calc(14px + 1.4vw);
    color: #ffffff;
}

#nav-login, #nav-signup, #nav-shop, #nav-trade, #nav-pendingtrade, #nav-addpackage, #nav-addcharacter, #nav-addbrand, #nav-collection {
    text-decoration: none;
    font-size: calc( 6px + 0.9vw );
    color: #ffffff;
}

ul {
    display: flex;
    gap: 4vw;
}

li {
    list-style-type: none;
}

/* PROFILE NAV */

#profile-container, #profile-admin-container {
    padding: 0vh 10vw;
    min-height: 80px;
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    align-self: flex-end;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
}

.coins-img{
    width: 18px;
}

#profile-img, #profile-admin-img {
    width: 50px;
}

#profile-user-name, #profile-admin-user-name{
    font-size: calc( 8px + 0.8vw );
    text-align: end;
}

.profile-buttons{
    display: flex;
    gap: 6px;
    justify-content: flex-end;
}

.profile-coins {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-btn, .logout-btn {
    height: 20px;
    width: 40px;
    background-color: #9479A9;
    border-radius: 10px;
    font-size: calc( 5px + 0.6vw );
    color: #ffffff;
    border: none;
}

#nav-editprofile {
    text-decoration: none;
    color: #ffffff;
}

#add-coin-btn {
    height: 18px;
    width: 18px;
    background-color: #ff4098;
    border-radius: 9px;
    font-size: 0.8rem;
    border: none;
}

/* MAIN LANDING PAGE */
main {
    padding-top: 6vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

#texts-home {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 50vw;
}

#main-text-home > p {
    text-align: left;
    font-size: calc(18px + 2.2vw);
    line-height: calc(28px + 4vh);
}

#secondary-text-home > p {
    text-align: left;
    font-size: calc(8px + 1.1vw);
}

#texts-home > p {
    text-align: left;
    font-size: calc(9px + 1.2vw);
}

#img-cards {
    width: 35vw;
}

/* MAIN SIGNUP PAGE & LOGIN PAGE */

#container-register, #container-login {
    padding: 4vh 0vw;
    width: 40vw;
    background-color: #FFFFFF26;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.2vh;
}

#form-register, #form-login {
    display: flex;
    flex-direction: column;
    gap: 2.6vh;
    font-size: calc( 6px + 0.8vw );
    width: 25vw;
}

input{
    height: 4.8vh;
    background: none;
    border: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: calc( 6px + 0.7vw );
}

input:focus{
    outline: 0;
}

h2{
    font-size: calc( 9px + 1.2vw );
}

p{
    font-size: calc( 8px + 0.8vw );
    text-align: center;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

#signup-btn, #login-btn, #back-btn {
    min-height: 35px;
    min-width: 90px;
    width: 15vw;
    color: #FFFFFF;
    background-color: #ff4098;
    border: none;
    border-radius: 10px;
    font-size: calc( 6px + 0.8vw );
}

/* MAIN PROFILE PAGE */

.input-file-label {
    padding: 0vh 0.5vw;
    align-self: center;
    height: 5vh;
    min-height: 30px;
    background-color: #ff4098;
    border-radius: 10px;
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

#admin-profile-edit-img, #profile-edit-img, #addpackage-image, #addcharacter-image {
    display: none;
}

#container-profile, #container-addbrand, #container-addpackage, #container-addcharacter{
    padding: 2vh 0;
    width: 40vw;
    background-color: #FFFFFF26; 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-profile{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: calc( 6px + 0.7vw );
    width: 25vw;
    padding-bottom: 10px;
}

.save-btn, .btn-shop, .pending-cardbtn, #addpackage-btn, #addcharacter-btn, #addbrand-btn{
    height: 5vh;
    width: 8vw;
    background-color: #ff4098;
    border-radius: 1vh;
    font-family: 'Poppins';
    font-size: calc( 5px + 0.6vw );
    color: #FFFFFF;
    border: none;
}

.edit-svg{
    width: 24px;
}

label{
    display: flex;
    justify-content: space-between;
}

#user-img-preview, #admin-img-preview, #character-img-preview, #package-img-preview{
    align-self: center;
    max-width: calc( 60px + 2vw);
    max-height: calc( 60px + 3vh);
}

/* MAIN COLLECTION PAGE */

#container-shop {
    padding: 4vh 0vw;
    width: 60vw;
    background-color: #FFFFFF26;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.2vh;
}

#shop-packages{
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
}

.packages{
    width: 12vw;
    box-shadow: 4px 4px 3px 3px #00000080;
}

.box-shop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    background-color: #FFFFFF26;
    font-size: calc( 6px + 0.6vw );
    text-align: center;
    gap: 0.5vh;
    padding-bottom: 1vh;
}

.package-chances {
    font-size: calc( 5px + 0.5vw );
}

/* MODAL */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #00000080
}

.modal-box{
    width: 50vw;
    height: 80vh;
    display: flex;
    background-color: #FFFFFFDD;
    transform: translate(-50%,-50%);
    position: relative;
    top: 50vh;
    left: 50vw;
    animation: animate;
    animation-duration: 800ms;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes animate{
    from{opacity:1}
    from{opacity:0}
}

#icon-close-shop-modal, #icon-close-pending-modal, #icon-close-error-log, #icon-close-success-log, #icon-close-trade-modal{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    cursor: pointer;
    padding: 10px;
}

.h3-modal{
    font-size: 2rem;
    color: #13101E;
    text-align: center;
    padding: 10px;
}

#error-log-message, #success-log-message{
    color: #13101E;
}

.card-acquired, .card-pending{
    width: 12vw;
}

#new-cards, #pendingtrade-cards, #user-cards-modal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5vh 0 5vh 0;
    overflow-y: auto;
}

#user-cards-modal::-webkit-scrollbar, #pendingtrade-cards::-webkit-scrollbar {
    width: 1.3vw;
    background-color: #bbbbbb80;
}

#user-cards-modal::-webkit-scrollbar-thumb, #pendingtrade-cards::-webkit-scrollbar-thumb {
    background-color: #13101EA0;
}

.description-new-card, .description-pending-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    height: fit-content;
    border: 2px solid #13101E;
}

.name-new-card, .rarity-new-card, .name-pending-card, .rarity-pending-card {
    color: #13101E;
    font-size: 1rem;
    text-align: center;
}

/* TROCAR CARDS */

#pendingtrade-page {
    flex-direction: column;
    gap: 5vh;
}

#changeable-cards-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    background-color: #FFFFFF26;
    gap: 1.5vw;
    flex-wrap: wrap;
    padding: 1vh 1vw;
}

.changeablecard-img {
    max-width: 9.5vw;
}

.changeablecard, .trade-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000046;
    padding: 1vh 1vw;
}

.changeablecard > p {
    font-size: calc( 6px + 0.7vw );
}

.description-pending-card > p, .trade-shop > p {
    font-size: calc( 6px + 0.7vw );
    color: #13101E;
}

/* CSS DA PÁGINA MINHA COLEÇÃO */

#collection-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    padding-bottom: 20px;
}

#my-collection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 60vw;
}

.img-my-collection{
    width: 12vw;
}

#first-section-collection{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    padding: 20px 20px 0 20px;
}

#first-section-collection > h2{
    font-size: 2rem;
}

.container-card-collection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 14vw;
    height: fit-content;
    padding: 10px 0;
    background-color: #FFFFFF26;
}

.container-card-collection > p {
    font-size: calc( 7px + 0.7vw );
}

.container-taggle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 0.6rem;
}

/* ESCONDER TUDO */

#unauthenticated-header {
    display: none;
}

#authenticated-user-header {
    display: none;
}

#profile-container {
    display: none;
}

#authenticated-admin-header {
    display: none;
}

#landing-page {
    display: none;
}

#login-page {
    display: none;
}

#signup-page {
    display: none;
}

#home-page {
    display: none;
}

#profile-page {
    display: none;
}

#profile-admin-container {
    display: none;
}

#collection-page {
    display: none;
}

#change-page {
    display: none;
}

#my-changes-page {
    display: none;
}

#addpackage-page {
    display: none;
}

#addcharacter-page {
    display: none;
}

#addbrand-page {
    display: none;
}

#not-found-page {
    display: none;
    flex-direction: column;
    gap: 2vh;
}