@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----CLASSES REUTILIZÁVEIS ----- */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- BODY -----*/
body {
    background-image: url('../images/bg-principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 62.5%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO */
header{
    height: 10vh;
    background-color: #13101E;
}

#header-container{
    width: 80vw;
    justify-content: space-between;
}

#menu-home{
    text-decoration: none;
}

#menu-home > h1{
    font-size: calc(14px + 1.4vw);
    color: #fff;
}

ul{
    display: flex;
    gap: 4vw;
}

li{
    list-style-type: none;
}

#menu-about, #menu-enter, #menu-register{
    text-decoration: none;
    font-size: calc( 6px + 1vw );
    color: #fff;
}

/* ----- MAIN LANDING PAGE ----- */
#main-container{
    padding-top: 8vh;
}

#section-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80vw;
}

span{
    display: block;
}

#main-text-home{
    font-size: calc(18px + 2.2vw);
    line-height: calc(28px + 4vh);
}

#secundary-text-home{
    font-size: calc(8px + 1.1vw);
}

#texts-home{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 50vw;
}

#texts-home > span{
    font-size: calc(9px + 1.2vw);
}

#img-cards{
    width: 35vw;
}