@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----CLASSES REUTILIZÁVEIS ----- */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- BODY -----*/
body {
    background-image: url('../images/bg-principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-size: 62.5%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO */
header{
    height: 10vh;
    background-color: #13101E;
}

#header-container{
    width: 80vw;
    justify-content: space-between;
}

#menu-home{
    text-decoration: none;
}

#menu-home > h1{
    font-size: 2rem;
    color: #fff;
}

ul{
    display: flex;
    gap: 3rem;
}

li{
    list-style-type: none;
}

#menu-about, #menu-enter, #menu-register{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

h3{
    font-size: 2rem;
}

/* ----- MAIN LANDING PAGE ----- */
#main-container{
    height: 90vh;
}

#section-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80vw;
}

span{
    display: block;
}

#main-text-home{
    font-size: 4.5rem;
    line-height: 5.5rem;
}

#secundary-text-home{
    font-size: 1.5rem;
}

#texts-home{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 50vw;
}

#texts-home > span{
    font-size: 1.5rem;
}

#img-cards{
    width: 30vw;
}