@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----CLASSES REUTILIZÁVEIS ----- */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- BODY -----*/
body {
    background-image: url('../images/bg-principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 62.5%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO */
header{
    height: 10vh;
    background-color: #13101E;
}

#header-container{
    width: 80vw;
    justify-content: space-between;
}

#menu-home > a{
    font-size: calc(14px + 1.4vw);
    text-decoration: none;
}

ul{
    display: flex;
    gap: 4vw;
}

li{
    list-style-type: none;
}

#menu-about, #menu-enter, #menu-register{
    text-decoration: none;
    font-size: calc( 6px + 1vw );
    color: #fff;
}

/* MAIN */

main{
    padding-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-register{
    padding: 4vh 0vw;
    height: 76vh;
    width: 40vw;
    overflow-y: auto;
    background-color: #FFFFFF26;
    color: #FFFFFF;
    flex-direction: column;
    gap: 3.2vh;
    justify-content: flex-start;
}

#container-register::-webkit-scrollbar {
    width: 1.3vw;
    background-color: #bbbbbb80;
}

#container-register::-webkit-scrollbar-thumb {
    background-color: #13101EA0;
}

#form-register{
    display: flex;
    flex-direction: column;
    gap: 2.6vh;
    font-size: calc( 6px + 0.8vw );
    width: 25vw;
}

input{
    height: 4.8vh;
    background: none;
    border: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: calc( 6px + 0.7vw );
}

input:focus{
    outline: 0;
}

h2{
    font-size: calc( 9px + 1.2vw );
}

p{
    font-size: calc( 8px + 0.8vw );
    text-align: center;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

#btn{
    min-height: 35px;
    min-width: 90px;
    width: 15vw;
    color: #FFFFFF;
    background-color: #9479A9;
    border: none;
    border-radius: 10px;
    font-size: calc( 6px + 0.8vw );
}